body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Hero start */
/* html {
  background-color: burlywood;
} */
.hero {
  background-image: url("https://i.ibb.co/JvvJQZj/Background-layer-1.png");
  max-width: 1535px;
  height: 723px;
  align-items: flex-end;
}

.boxHeading {
  display: flex;
  align-items: center;
  color: black;
  justify-content: center;
}

.heading {
  padding-top: 255px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 60px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonHero {
  display: flex;
  justify-content: space-evenly;
}

.button {
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  margin: 50px;
  padding: 10px;
  border-radius: 100px;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.button1 {
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  margin: 50px;
  padding: 10px;
  border-radius: 100px;
  border: 3px solid #e0557c;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  transform: none;
}

/* .vertical-center {
  transform: translateY(70%);
} */

.textButtonHero {
  cursor: pointer;
  color: #e0557c;
  font-weight: 600;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  display: flex;
}

.textButtonHero:hover {
  color: #44c5e1;
}

/* Hero End */

/* About Home Start */
.aboutHome {
  margin-top: 50px;
  background: #f5f5f5;
  height: 400px;
  font-style: normal;
  font-weight: 600;

  font-size: 48px;
  text-align: center;
  padding-top: 50px;
}

.aboutHomeText {
  display: flex;
  padding: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-align: center;
  color: #786f6f;
}
.aboutHome,
p {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.aboutHomeButton {
  display: flex;
  justify-content: center;
}

.aboutHomeButtonText {
  border: 3px solid #e0557c;
  box-sizing: border-box;
  padding-top: 10px;
  border-radius: 50px;
  max-width: 343px;
}

.loginContainer {
  max-width: 681px;
  min-height: 521px;
  background-color: #ffffff;
  border-radius: 26px;
  position: relative;
}

.loginRow {
  padding-top: 52px;
  display: grid;
  gap: 40px;
  grid-gap: 40px;
  text-align: center;
}

.loginRow2 {
  padding-top: 20px;
  display: grid;
  gap: 20px;
  grid-gap: 20px;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
  padding: 11px;
  padding-left: 20px;
  width: 603px;
  border: 1px solid #858080;
  box-sizing: border-box;
  border-radius: 15px;
  opacity: 0.85;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
}

.rememberMe {
  margin-block-end: 0;
  margin-block-start: 0;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #858080;
}

input[type="submit"] {
  background-color: #ed66b2;
  color: white;
  cursor: pointer;
  border: none;
}

input[type="submit"]:hover {
  background-color: #44c5e1;
}

.forgotPassword {
  color: #858080;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
  opacity: 0.75;
}

.forgotPassword:hover {
  opacity: 1;
}

.facebook {
  background-color: #3b5998;
}

/* Tips */
.Tips {
  text-align: center;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: auto;
  padding: 30px 0 30px 0;
  background: url("https://i.ibb.co/rv3ngvD/cari-barang-grosir-impor-2.png");
  /* height: 525px; */
  box-sizing: border-box;
  font-weight: 400;
  text-align: center;
}
h2 {
  padding-top: 50px;
}
.square {
  display: flex;
  cursor: pointer;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 1px solid #e0557c;
  margin: 30px;
  border-radius: 30px;
  box-shadow: 1px 1px;
  background-color: #f5f5f5;
}

.square:hover {
  border: 1px solid #44c5e1;
  box-shadow: 0 0 3px 3px #ffffff;
}

.pengumuman {
  margin: 81px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 94px;
  padding: 10px;
}

.buttonPengumuman {
  background: #44c5e1;
  border-radius: 10px;
  width: 326px;
  opacity: 0.9;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 17px;
}

.buttonPengumuman:hover {
  opacity: 1;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.barangContainer {
  width: 396px;
  height: 551px;
  mix-blend-mode: normal;
  border: 1px solid #a39f9f;
  box-sizing: border-box;
  box-shadow: 5px 7px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.judulBarang {
  font-size: 36px;
  line-height: 54px;
  text-align: center;
}

.deskripsi {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #999595;
}

.detailButton {
  background: #aec288;
  border-radius: 50px;
  border: 1px;
  color: white;
  font-size: 30px;
  line-height: 54px;
  width: 326px;
  opacity: 0.9g;
}

.detailButton:hover {
  background: transparent;
  border: 1px solid #aec288;
  color: #aec288;
  opacity: 1g;
  text-decoration: none;
}

.detailButton:hover {
  cursor: pointer;
  opacity: 1;
}

.registerContainer {
  display: grid;
  justify-content: center;
  padding-bottom: 170px;
}
.registerRow {
  display: grid;
  grid-gap: 32px;
}

.titleRegister {
  font-size: 48px;
  line-height: 72px;
  color: black;
  margin: 0;
  margin-top: 32px;
}

.lineRegister {
  border: 1px solid #000000;
  width: 663px;
}

.squareBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.barangHilang {
  width: inherit;
  padding: 20px;
}

.totalBrg {
  display: flex;
}

.barangIcon {
  height: "100px";
  width: "100px";
  color: "black";
  display: "flex";
  alignitems: "center";
  textalign: "center";
  justifycontent: "center";
  font-size: "80px";
}
